body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:burlywood;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    font-style: italic;
}

section {
    margin: 20px;
}

img {
    margin-left: 40%;
    width: 400px;
    height: 400px;
    height: auto;
}

ul {
    list-style: none;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color:blueviolet;
    color: #fff;
    padding: 10px;
}
