
body {
    background-image:url("https://wallpapertag.com/wallpaper/full/9/7/9/315591-popular-radial-background-1920x1080-hd-for-mobile.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    background-color:gray;
    color: black;
}

nav ul {
    height:30%;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {

    display: inline;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color:darkblue;
}

#hero {
   
   
    color:darkblue;
    text-align: center;
    padding: 100px 0;
    animation: fadeIn 1s ease-in-out;
}

#hero h1 {
    font-size: 36px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    animation: scaleUp 0.5s ease-in-out;
}

#about, #features, #contact {
    text-align: center;
    padding: 50px 0;
    animation: fadeIn 1s ease-in-out;
}

.feature {
    display: flex;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

footer {
    text-align: center;
    background-color: gray;
    color: #fff;
    padding: 10px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
